.sources {
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 3.6em);
    height: 7.5rem;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.sources::-webkit-scrollbar {
    height: 15px;
    cursor: pointer;
}

.sources::-webkit-scrollbar-thumb {
    background: #333;
}

.sources::-webkit-scrollbar-track {
    background-color: #555;
}

.sources::-webkit-scrollbar-button {
    display: block;
    background-color: #444;
    background-repeat: no-repeat;   
    background-size: 50%;
    background-position: center;
}

.sources::-webkit-scrollbar-button:horizontal:start:increment {
    display: none;
}

.sources::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f7/Chevron_left.svg');  
}

.sources::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/47/Chevron_right.svg'); 
}

.sources::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;  
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item.focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item:active {
    border-color: #3fcc59;
    background-color: #3fcc59;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (hover: hover) {

    .source__item:hover {
        border-color: #3fcc59;
        color: #69db7e;
        box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
        transform: translateY(-0.25em);
    }

    .source__item:active {
        background-color: #3fcc59;
        color: white;
    }

}

@media (max-width: 1000px) {

    .sources::-webkit-scrollbar {
        height: 10px;
        cursor: pointer;
    }

}

@media (max-width: 783px) {

    .sources {
        width: 100%
    }

}

