body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    padding: 0.6rem 1.8rem;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
}

.search {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.search:focus-within {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.search:focus-within .search__field::placeholder {
    color:#69db7e;
}

.search__field,
.search__button {
    border: none;
    background: none;
    font: 300 1em 'Fira Sans', sans-serif;
    color: white;
}

.search__field:focus,
.search__button:focus {
    outline: none;
}

.search__field::placeholder {
    color: #70d6ff;
}

.search__field::placeholder:focus {
    color: #69db7e;
}

.search__button {
    cursor: pointer;
    font-size: 1em;
    border: none;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
    padding: 1rem 1.8rem;
    flex: 0 0 auto;
}

footer p {
    margin: 0;
}

footer .copyright {
    text-align: center;
}

footer .credentials {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer a {
    color: #444;
    transition: 0.25s;
}

footer .copyright:before {
    content: '©';
}

footer .github-image {
    width: 50px;
    height: 50px;
}

@media (hover: hover) {

    footer a:hover {
        color: #555;
    }

    .search:hover {
        border-color: #3fcc59;
        color: #69db7e;
        box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
        transform: translateY(-0.25em);
    }

    .search:hover .search__field::placeholder {
        color: #69db7e;
    }

  }

@media (max-width: 1000px) {

    html {
        font-size: 14px;
    }

}

@media (max-width: 783px) {

    header {
        padding: 0.6rem;
    }

}


@media (max-width: 600px) {

    html {
        font-size: 12px;
    }

    header {
        flex-direction: column;
    }

    .search__field,
    .search__button {
    height: 100%;
    }

    h1 {
        text-align: center;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }

    footer .copyright {
        order: -1;
    }

    footer .github-image {
        width: 35px;
        height: 35px;
    }

}
