:root {
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-primary: #F1CDB3;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-3xl: #292929;
    --main-text-font: normal 15px "Arial", sans-serif;
    --note-font: italic 12px "Arial", sans-serif;
    --header-font: normal 44px "Georgia", serif;
    --section-title-font: normal 35px "Georgia", serif;
    --small-header-font: normal 20px "Georgia", serif;
    --color-dark-m: #B2B2B2;
    --color-primary-light: #FDDCC4;
}

html {
    overflow-y: overlay;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font: var(--main-text-font);
}

.background-dark {
    background: url(/shelter/assets/images/texture.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 90px 40px;
}

.nav {
    width: 443px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.nav-list a:active {
    border-bottom: 3px solid var(--color-primary);
    transition: 0.2s;
}

.nav-list a:hover {
    color: var(--color-light-s);
    transition: 0.2s;
}

.nav-list a {
    display: block;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    color: var(--color-dark-s);
}

.nav-list .active {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
}

.logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.logo-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin: 0;
    transition: 0.2s;
}

.logo-sub {
    font-size: 13px;
    line-height: 15px;
    color: var(--color-light-xl);
    letter-spacing: 0.1em;
    margin: 0;
    padding-left: 4px;
    transition: 0.2s;
}

.logo:hover .logo-title {
    color: var(--color-primary-light);
}

.logo:hover .logo-sub {
    color: var(--color-light-s);
}

.not-only {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}

h1 {
    color: var(--color-light-xl);
    font: var(--header-font);
    line-height: 130%;
    margin: 0;
    padding-right: 150px;
}

.welcome-text {
    padding-top: 163px;
    height: 322px;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    line-height: 160%;
    color: var(--color-dark-s);
    margin: 0;
}

.button {
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    background: var(--color-primary);
    border-radius: 100px;
    width: 207px;
    height: 52px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background: var(--color-primary-light);
}

.welcome-puppy {
    max-width: 698px;
    height: auto;
    width: 100%;
}

.section-title {
    font: var(--section-title-font);
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0;
}

.about-pets .description {
    color: var(--color-dark-xl);
}

.about-pets .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    padding: 80px 0 100px 0;
    justify-content: center;
    align-items: center;
}

.text-block {
    display: flex;
    flex-direction: column;
}

.about-pets .text-block {
    gap: 25px 0;
    max-width: 430px;
}

.about-pets-img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.our-friends .section-title {
    text-align: center;
    margin: 0 auto;
}

.photo-slider {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    position: relative;
    padding: 0 105px;
}

.pet-card {
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.pet-card:hover .learn-more{
    background-color: var(--color-primary);
}

.pet-name {
    font: var(--small-header-font);
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0;
}

.learn-more {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 187px;
    height: 52px;
    background-color: transparent;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;
}

.our-friends .flex-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding: 80px 0 100px 0;
}

.background-light {
    background-color: var(--color-light-l);
}

.background-white {
    background-color: var(--color-light-xl);
}

.arrow-icon {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    color: transparent;
    transition: 0.2s;
}

.arrow-icon:hover {
    color: var(--color-primary);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.our-friends .button {
    width: 260px;
}

.help .section-title {
    padding-top: 80px;
    text-align: center;
}

.help-icon {
    width: 60px;
    height: 60px;
}

.help-box {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;
    padding: 60px 0 100px 0;
}

.help-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.help-item-name {
    font: var(--small-header-font);
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0;
    color: var(--color-dark-l);
}

.in-addition .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 80px 0 100px 0;
    align-items: center;
}

.in-addition .text-block {
    gap: 20px;
    max-width: 380px;
}

.donation-dog {
    max-width: 505px;
    width: 100%;
    height: auto;
}

.bank-name {
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0;
}

.note {
    font: var(--note-font);
    color: var(--color-dark-m);
    line-height: 1.5em;
    margin: 0;
}

.credit-card {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: var(--color-primary);
    border-radius: 9px;
    width: 349px;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.credit-card:hover {
    background: var(--color-primary-light);
}

.credit-card-image {
    width: 30px;
    height: 23px;
}

.credit-card-text {
    font: var(--small-header-font);
    color: var(--color-dark-l);
    line-height: 115%;
    margin: 10px 0;
    letter-spacing: 0.06em;
}

.footer-puppy {
    max-width: 300px;
    max-height: 310px;
    width: 100%;
    height: auto;
}

.footer-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    font: var(--small-header-font);
    color: var(--color-primary);
    letter-spacing: 0.06em;
    transition: 0.2s;
}

.footer-icon {
    height: 32px;
    flex-shrink: 0;
    color: var(--color-primary);
}

.footer-item:hover {
    color: var(--color-primary-light);
}

.footer-item:hover .footer-icon {
    color: var(--color-primary-light);
}

.footer-icon.left {
    width: 40px;
}

.footer-icon.right {
    width: 22px;
}

footer .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.questions {
    max-width: 278.5px;
}

.address {
    max-width: 301.5px;
}

footer .text-block {
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 0 60px 0;
}

footer {
    background: url(/shelter/assets/images/texture.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

footer p {
    margin: 0;
}

footer .section-title {
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}