plate,
bento {
  position: relative;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  height: 95px;
  width: 95px;
  margin: 0 10px;
  transition: ease-out 0.3s;
  cursor: pointer;
}

plate {
  background: white;
  border-radius: 100px;
  border-bottom: solid 5px #ddd;
}

plate:before {
  content: "";
  position: absolute;
  left: calc(50% - 32.5px);
  top: calc(50% - 32.5px);
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #ccc;
  opacity: 0.4;
  background: rgba(255, 255, 255, 1);
}

bento {
  position: relative;
  height: 95px;
  width: 95px;
  background: brown;
  position: relative;
  border: solid 3px #711c12;
  border-width: 20px 2px;
  box-sizing: border-box;
}

orange,
tomato {
  position: relative;
  margin: 20px 10px;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px 2px 8px 2px;
  height: 40px;
  width: 40px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: ease-out 0.3s;
  z-index: 60;
}

orange {
  background: orange;
  border-color: #bd6e07;
}

tomato {
  background: red;
  border-color: #ab1212;
}

orange:before,
tomato:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 30%;
  width: 30%;
  top: 0px;
  left: calc(50% - 15%);
  border-radius: 100px;
}

bento orange,
plate orange,
bento tomato,
plate tomato {
  position: absolute;
  left: calc(50% - 20px);
  margin: 0;
}

bento orange:nth-child(2).small,
bento tomato:nth-child(2).small {
  top: -13px;
}

plate orange:nth-child(2).small,
plate tomato:nth-child(2).small {
  top: 9px;
}

plate orange,
plate tomato {
  top: calc(50% - 25px);
}

orange.small,
tomato.small {
  height: 20px;
  width: 20px;
  border-width: 1px 2px 5px 2px;
}

bento orange.small,
plate orange.small,
bento tomato.small,
plate tomato.small {
  left: calc(50% - 10px);
  top: calc(50% - 15px);
}

pickle {
  position: relative;
  background: #179837;
  width: 20px;
  height: 45px;
  border-radius: 30px;
  position: relative;
  border: solid 2px #025a18;
  border-width: 2px 2px 8px 2px;
  margin: 20px 10px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: ease-out 0.3s;
  z-index: 60;
}

#fancy:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 45px);
  top: calc(50% - 43px);
  height: 73px;
  width: 74px;
  border-radius: 60px;
  border: solid 8px #009ff2;
  opacity: 0.4;
  z-index: 50;
}

[data-taste~="yammy"]:after {
  position: absolute;
  content: '★';
  z-index: 70;
  right: 3px;
  color: yellow;
  font-size: 0.75rem;
}

orange[data-taste~="yammy"]::after,
tomato[data-taste~="yammy"]::after {
  right: 7px;
}

[data-taste="yammy spicy"]::after {
  content: '★🔥';
}

[data-taste~="yammy"].small:after {
  top: -2px;
  right: 1px;
}

.yellow {
  background: rgb(241, 241, 33);
  border-color: rgb(185, 185, 26);
}

.orange {
  background: orange;
  border-color: #bd6e07;
}

.green {
  background: #3a874e;
  border-color: #025a18;
}

.strobe {
  animation: pulse 1s ease-in infinite alternate;
}

.exit {
  animation: exit 1s ease-in;
}

.entrance {
  animation: entrance 1s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes exit {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  60% {
    transform: translateY(0px) scale(1);

  }

  100% {
    transform: translateY(-1000px) scale(0.7);
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 800px) {

  plate,
  bento {
    height: 65px;
    width: 65px;
  }

  plate {
    border-bottom: solid 3px #ddd;
  }

  plate:before {
    left: calc(50% - 20px);
    top: calc(50% - 22px);
    height: 40px;
    width: 40px;
  }

  bento {
    border-width: 15px 2px;
  }

  orange,
  tomato {
    height: 25px;
    width: 25px;
    border-width: 1px 2px 6px 2px;
  }

  bento orange,
  bento tomato {
    left: calc(50% - 12.5px);
  }

  plate orange,
  plate tomato {
    left: calc(50% - 15px);
    top: calc(50% - 20px);
  }

  orange.small,
  tomato.small {
    height: 10px;
    width: 10px;
  }

  bento orange.small,
  plate orange.small,
  bento tomato.small,
  plate tomato.small {
    left: calc(50% - 7px);
    top: calc(50% - 10px);
  }

  bento orange:nth-child(2).small,
  bento tomato:nth-child(2).small {
    top: -5px;
    left: calc(50% - 5px);
  }

  plate orange:nth-child(2).small,
  plate tomato:nth-child(2).small {
    top: 5px;
    left: calc(50% - 7px);
  }

  #fancy:after {
    left: calc(50% - 29.5px);
    top: calc(50% - 29px);
    height: 47px;
    width: 47px;
    border: solid 6px #009ff2;
  }

  pickle {
    width: 15px;
    height: 35px;
    border-width: 2px 2px 6px 2px;
    margin: 20px 10px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  }

  [data-taste~="yammy"]:after {
    right: 0;
  }
  
  orange[data-taste~="yammy"]::after,
  tomato[data-taste~="yammy"]::after {
    right: 3px;
  }
  
  [data-taste~="yammy"].small:after {
    top: -3px;
    right: -0.5px;
  }

}