body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

button {
    appearance: none;
    border: none;
    height: 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
    outline: none;
    padding-top: 5px;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.3s;
    min-width: 90px;
}

input {
    appearance: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    height: 1.5rem;
    padding: 5px;
    box-sizing: content-box;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 2px;
    padding: 0;
}

input[type="text"]::placeholder {
    font-style: italic;
}

.header__nav {
    display: flex;
    gap: 5px;
    padding: 30px;
}

.header__switch-page,
.garage__paginator-button,
.winners__paginator-button {
    background-color: rgb(171, 236, 96);
    box-shadow: 0px 5px 0px 0px green;
}

.main {
    padding: 0 30px;
}

.controls, .controls__car {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls {
    width: fit-content;
}

.controls__car-create,
.controls__car-update {
    display: flex;
    gap: 5px;
    align-items: center;
}

.controls__car-button,
.car-params__button {
    background-color: lightblue;
    box-shadow: 0px 5px 0px 0px rgb(78, 184, 220);
    align-self: flex-start;
}

.controls__race-button {
    background-color: rgb(255, 255, 122);
    box-shadow: 0px 5px 0px 0px yellow;
}

.controls__race {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.controls__race * {
    flex-grow: 1;
}

.garage, .winners {
    padding-top: 3rem;
}

.garage__car {
    padding-bottom: 10px;
}

.car-params {
    display: flex;
    align-items: center;
    gap: 30px;
}

.car-params__controls,
.track__controls {
    display: flex;
    gap: 5px;
}

.car-params__name {
    font-weight: 700;
    color: rgb(255, 213, 0);
}

.track {
    position: relative;
    display: flex;
    gap: 30px;
    border-bottom: 3px dashed white;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.track__car {
    margin-left: 30px;
    width: 100px;
    fill: currentColor;
    transform: scale(-1, 1);
    align-self: flex-end;
    padding-bottom: 2px;
}

.track__button {
    background: transparent;
    border: 2px solid rgb(171, 236, 96);
    color: rgb(171, 236, 96);
    padding-top: 0;
    min-width: auto;
}

.track__button:disabled {
    border: 2px solid gray;
    color: gray;  
}

.track__finish {
    position: absolute;
    right: 15%;
    color: white;
    fill: currentColor;
    width: 50px;
    justify-self: right;
}

.garage__paginator,
.winners__paginator {
    padding-top: 30px;
    display: flex;
    gap: 5px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    max-width: 75%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

.winners__score {
    width: 690px;
    border-collapse: collapse;
    table-layout: fixed;
}

.winners__score td,
.winners__score th
{
    text-align: left;
    word-wrap: break-word;
    padding: 5px;
    line-height: 150%;
}

.winners__score .winners__sort-param {
    cursor: pointer;
}

.winners__score-item .winner__car-img {
    margin-left: 0;
    width: 70px;
    fill: currentColor;
    transform: scale(-1, 1);
    padding-bottom: 2px;
}

.asc::after {
    content: '⬆';
    padding-left: 5px;
}

.desc::after {
    content: '⬇';
    padding-left: 5px;
}

@media (max-width: 1000px) {

    html {
      font-size: 14px;
    }

    .header__nav {
        padding: 20px;
    }

    .main {
        padding: 0 20px;
    }

    button {
        min-width: 80px;
    }

    .winners__score {
        width: 630px;
    }

    .track__car {
        margin-left: 30px;
        width: 80px;
    }

    .track__finish {
        width: 40px;
        right: 20%;
    }

  }

  @media (max-width: 700px) {

    html {
      font-size: 12px;
    }

    body {
        margin: 0;
    }

    .header__nav {
        padding-left: 10px;
    }

    .main {
        padding: 0 10px;
    }

    button {
        min-width: 70px;
    }

    .winners__score {
        width: 480px;
    }

    .track__car {
        margin-left: 30px;
        width: 80px;
    }

    .track__finish {
        width: 40px;
    }

    .winners__score-item .winner__car-img {
        width: 50px;
    }

  }


  @media (max-width: 499px) {

    .winners__score {
        width: 95%;
        margin: 0;
    }

  }



